/*------------------------------------*\
    $FLEX
\*------------------------------------*/
@mixin default-flex{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-shrink: 1;
  flex: 1;
}

.flex {
  @include default-flex;
}
  
.flex-column{
  @include default-flex;
  flex-direction: column;
}
  
  // Justify content
  .jc-center{
    justify-content: center;
  }
  .jc-space-between{
    justify-content: space-between;
  }
  .jc-space-around{
    justify-content: space-around;
  }
  .jc-space-evenly{
    justify-content: space-evenly;
  }
  .jc-start{
    justify-content: flex-start;
  }
  .jc-end{
    justify-content: flex-end;
  }
  .jc-stretch{
    justify-content: stretch;
  }
  .jc-reset{
    justify-content: initial;
  }
  
  // Align items
  .ai-center{
    align-items: center;
  }
  .ai-start{
    align-items: flex-start;
  }
  .ai-end{
    align-items: flex-end;
  }
  .ai-baseline{
    align-items: baseline;
  }
  .ai-stretch{
    align-items: stretch;
  }
  .ai-reset{
    align-items: initial
  }


  /*------------------------------------*\
      $FLEX-WIDTH
  \*------------------------------------*/
  .flex-one-quarter{
    flex:.25;
  }
  .flex-one-third{
    flex:.33;
  }
  .flex-half{
    flex:.5;
  }
  .flex-two-thirds{
    flex:.66;
  }
  .flex-three-quarters{
    flex:.75;
  }
  .flex-full{
    flex:1;
  }
  .flex-one-fifth{
    flex:.2;
  }
  .flex-two-fifths{
    flex:.4;
  }
  .flex-three-fifths{
    flex:.6;
  }
  .flex-four-fifths{
    flex:.8;
  }
/*------------------------------------*\
    $FLEX-WRAP
\*------------------------------------*/
.flex-wrap{
  flex-wrap: wrap;
}
.flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}