
/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
.min-100-vh{min-height: 100vh;}

.hide {display: none !important;}
.block {display: block !important;}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.hide-s-only, .hide-s-and-down {
    @media #{$small-and-down} {
      display: none !important;
    }
  }
  .hide-m-and-down {
    @media #{$medium-and-down} {
      display: none !important;
    }
  }
  .hide-m-and-up {
    @media #{$medium-and-up} {
      display: none !important;
    }
  }
  .hide-m-only {
    @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
      display: none !important;
    }
  }
  .hide-l-only {
    @media #{$large-and-up} {
      display: none !important;
    }
  }
  .hide-xl-only {
    @media #{$extra-large-and-up} {
      display: none !important;
    }
  }
