// Colors
$white : #ffffff;
$gallery : #eeeeee;

.white{background-color: $white !important;}
.white-text{background-color: $white !important;}

.gallery{background-color: $gallery !important;}
.gallery-text{background-color: $gallery !important;}